<!-- https://www.youtube.com/watch?v=gRIWFYRaVto&t=629s -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Arquivo Reset CSS -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <!-- Baixar e Colar link das Fontes Aqui -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Yellowtail&display=swap" rel="stylesheet">
    <!-- Colar Link da Normalize -->
    <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
    <!-- Link CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Página Responsiva</title>
</head>
<body>
    
    <nav>
        <a href="#" id="topo">Marcia Fotos</a>
        <ul>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#serviços">Serviços</a></li>
            <li><a href="#fotos">Fotos</a></li>
            <li><a href="#contato">Contato</a></li>
        </ul>
    </nav>
    <header>
        <h1>Fotógrafa Profissional </h1>
        <p>Trabalhar com fotografias e vídeos me fez entender que esse trabalho é algo impresindível e de muita sensibilidade.</p>
        <a href="#serviços" class="botao">Ver mais</a>
    </header>
<!-- SOBRE -->
    <section id="sobre">
        <h2>Sobre</h2>
        <p>Eu sou a Marcia Moreira, fotografa profissional com vasta experiência no mercado. Você pode acompanhar meus trabalhos experimentais ou efetivamente profissionais nas minhas redes sociais como Instagram ou no meu canal do YouTube, que trata de assuntos diversos sobre fotografia. </p>
        <a href="#contato" class="botao">Contate Agora</a>
    </section>
<!-- SERVIÇOS -->
    <section id="serviços">
        <h2>Serviços</h2>

        <div>
            <img src="../static/img/IMG-20220305-WA0005.jpg" alt="foto_2">
            <h3>Fotografias</h3>
            <br>
            <p> - Festas de Casamento </p>
            <p> - Dia da Noiva </p>
        </div>

        <div>
            <img src="../static/img/marcia_moreira.jpg" alt="foto_1">
            <h3>Edição de Vídeo</h3>
            <br>
            <p> - Batizados </p>
            <p> - NewBorn </p>
        </div>

        <div>
            <img src="../static/img/Marcia_Moreira_Perfil - Copia.jpg" alt="foto_3">
            <h3>Captação de Imágens</h3>
            <br>
            <p> - Aniversário </p>
            <p> - etc </p>
        </div>
    </section>
<!-- FOTOS -->
    <section id="fotos">
        <h2>Fotos</h2>
        <img src="../static/img/marcia_moreira.jpg" alt="foto_a">
        <img src="../static/img/marcia_moreira.jpg" alt="foto_a">
        <img src="../static/img/marcia_moreira.jpg" alt="foto_a">
        <img src="../static/img/marcia_moreira.jpg" alt="foto_a">
        <img src="../static/img/marcia_moreira.jpg" alt="foto_a">
        <img src="../static/img/marcia_moreira.jpg" alt="foto_a">
    </section>
<!-- CONTATO -->
    <section id="contato">
        <h2>Contato</h2>
        <p>Vem falar com a gente</p>

        <div>
            <img src="../static/img/icon-whatsapp.svg" alt="telefone">
            <p><a href="tel:11977219430">(11)97721-9430</a></p>
        </div>
        <div>
            <img src="../static/img/icon-email.svg" alt="email">
            <p><a href="mailto:mm.no.linkedin@gmail.com">mm.no.linkedin@gmail.com</a></p>
        </div>

    </section>

    <footer>
        <a href="#topo">VOLTAR</a>
        <br>
        <p>Desenvolvido por Marcia Moreira</p>
        <p>27-01-2024</p>
    </footer>
</body>
</html>